/*
Follow my scheme for the css.
And also, use proper comments to specify each section.
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #303030;
    position: relative;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* G */

/* Global */
.button {
    background-color: #1BADFF;
    border-radius: 40px;
    padding: 5px 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}

.cVR {
    height: auto;
    width: 3px;
    border-radius: 2.5px;
    background-color: #303030;
    margin: 0px 10px;
}

hr {
    border: 1px #303030 solid ;
    margin: 5px 10px;
}

.sectionBG {
    background-color: #404040;
    width: 900px;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 10px;
}
.sectionTop {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cH1 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 10px;
    width: 100%;
}

/* TopBar */
#topBar {
    background-color: #404040;
    display: flex;
    align-items: center;
    height: 50px;
}
#logo {
    margin-left: 10px;
    min-height: 40px;
    min-width: 40px;
}
#topName {
    color: #25FFB1;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 100%;
    margin-left: 10px;
}

/* MainSection */
#mainSection {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ProfileSection */
.profileContainer {
    color: white;
    display: flex;
    margin: 10px;
}

.button1 {
    background-color: #FB1E46;
    border-radius: 40px;
    padding: 5px 23px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 14px;
    cursor: pointer;
    width: 110px;
}

#addNoteButton
{
    background-color: #25FFB1;
    color: black;
    border-radius: 40px;
    padding: 5px 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 14px;
    cursor: pointer;
}

.buttonNotes
{
    display: flex;
    justify-content: flex-end;
}

#addNoteButton
{
    background-color: #FB1E46;
    border-radius: 40px;
    padding: 5px 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: px;
    cursor: pointer;
    width: 142px;
}
