*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #303030;
    position: relative;
}

#topBar
{
    background-color: #404040;
    display: flex;
    align-items: center;
    height: 50px;
}

#logo{
    margin-left: 10px;
    min-height: 40px;
    min-width: 40px;
}
#topName
{
   color: #25FFB1;
   font-size: 1.3rem;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   width: 100%;
   margin-left: 10px;
}

.button
{
    background-color: #1BADFF;
    border-radius: 40px;
    padding: 5px 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 10px;
}

#mainSection
{
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

#profileSection
{
    background-color: #404040;
    max-width: 900px;
    border-radius: 15px;
    align-items: center;
}

.sectionTop
{
    width: 1260px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cH1
{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin: 10px;
}

.solid-hr
{
    max-width: 898px;
    border: 1px solid black;
    margin-top: 5px;
}
