<div class="sectionBG">
    <style>
        #Section404 {
            margin: 10px;
            display: flex;
            flex-direction: column;
        }
        #SectionCode404 {
            color: #FB1E46;
            font-weight: bold;
            font-size: 30px;
            font-family: 'Montserrat', sans-serif;
        }
    </style>
    <div class="sectionTop">
        <div class="cH1">Error</div>
    </div>
    <hr>
    <div id="Section404">
        <div id="SectionCode404">404</div>
        <div>Page not found</div>
    </div>
</div>